@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto-Mono:300,400,600);

.form {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 12px;
}
.submit-page {
  background-color: rgb(255,255,255,.9);
  border-style: solid;
  border-width: 5px;
}
.mono {
  font-family: "Roboto-Mono", monospace;
}
.form input {
  outline: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.cehhgold-brand {
  font-weight: 300 !important;
}
@media (min-width: 992px) {
  .background-particles {
    width: 67%;
  }
}
@media (max-width: 992px) {
  .background-particles {
    width: 100%;
  }
}
.background-particles {
  position: fixed;
  height: 100%;
  top: 60px;
  left: 0px;
}

#eth-address {
  color: white;
  font-size: 14px;
}
.cards-data {
  opacity: .9;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cards-data:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.cehhgold-badge:hover {
  font-size: 14px !important;
}
.cehhgold-badge {
  -webkit-transition: font-size 0.1s;
  -moz-transition: font-size 0.1s;
  -o-transition: font-size 0.1s;
  transition: font-size 0.1s;
}
.navbar-collapse {
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
}
a[download] {
  color: #1e90ff;
  font-weight: 700;
  font-size: 1.25em;
}
a[download]:hover, a[download]:focus {
  text-decoration: none;
}
body {
  border-radius: 0px !important;
  font-family: 'Roboto', sans-serif !important;
  min-height: 100%;
}
html {
  height: 100%;
}
